@model DoctorModel

@{
    ViewData["Title"] = "Borrar Doctor";

}
<div class="mb-3">

    ¿estas seguro de que deseas borrar al Doctor: ?
</div>

<form asp-controller="Doctor" asp-action="DoctorDeleted">
<button>Borrar</button>
<a class="btn btn-secundary" asp-controller="DoctorList"  asp-controller="Doctor">
    Regresar
</a>

</form>